<section class="d-flex w-100 pt-5 pb-5 justify-content-center">
  <div class="w-50">
    <% user = User.where(id: params[:id])[0] %>
    <% if user %>
      <%= render partial: 'users/user_card', locals: { user: user } %>
      <% if user == current_user %>
        <%= render partial: 'posts/new' %>
      <% end %>
      <div class="mb-4">
        <h5 class="text-success">Bio</h5>
        <p>
          <%= user.bio %>
        </p>
      </div>
      <ul class="w-100 list-inline">
        <% user.last_3_posts.each do |post| %>
          <li class="w-100 mb-4">
            <%= render partial: 'posts/post', locals: { user: user, post: post, show_author: false } %>
          </li>
        <% end %>
      </ul>
      <div class="d-flex justify-content-center">
        <a class="btn border-2 border-success text-success" href="<%= users_path + '/' + user.id.to_s + '/posts' %>">See all posts</a>
      <div>
    <% else %>
      <h2>There is no user with id = <%= params[:id] %></h2>
    <% end %>
  </div>
</section>