<%= form_with model: Comment.new, url: request.url + '/create_comment' do |form| %>
  <%= form.hidden_field :author_id, value: current_user.id %>
  <%= form.hidden_field :post_id, value: @post.id %>
  <a href="<%= users_path + '/' + current_user.id.to_s %>"><%= current_user.name %></a>:
  <%= form.text_field :text %>
  <%= form.submit %>
<% end %>