<section class="d-flex w-100 pt-5 pb-5 justify-content-center">
  <div class="w-50">
    <% user = User.where(id: params[:user_id])[0] %>
    <% if user %>
      <% post = user.posts.where(id: params[:id])[0] %>
      <% if post %>
        <%= render partial: 'posts/post', locals: { user: user, post: post, show_author: true } %>
        <div class="mt-4">
          <% post.comments.each do |comment| %>
            <%= render partial: 'posts/comment', locals: { comment: comment } %>
          <% end %>
          <%= render partial: 'posts/add_comment' %>
        </div>
      <% else %>
        <h2>For user with id = <%= params[:user_id] %> there is no post with id = <%= params[:id] %></h2>
      <% end %>
    <% else %>
      <h2>There is no user with id = <%= params[:user_id] %></h2>
    <% end %>
  </div>
</section>